*, html {
    margin:0;
    padding:0;  
}

.main{
    position: relative;
    text-align: center;
}

.head{
    height: 50px;
    background-color: aqua;
    padding-top:10px ;
}

.botto{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    position: absolute;
   bottom: 0px;
}
.inp{
    text-align: center;
    padding-top:10px ;
}
.inp input{
   padding-left: 10px;
    width:700px ;
    height: 30px;
}
.inp button{
    width: 70px;
    height: 30px;
}

ul {
    list-style: none;
  }
/* .usersmain{
 
} */
  #users{
    background-color: blanchedalmond;
   width: 500px;
   margin-left: 500px;
   text-align: center;
  } 
  
 ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
  }
  #chats{
    background-color: rgb(177, 217, 226);
    width: 500px;
    margin-top: 30px;
    margin-left: 500px;
  }